.mainForm {
  width: 75vw;
  margin: 0 auto;
  text-align: center;
}

.loginBox {
  display: flex;
  justify-content: space-around;
  align-content: center;
}

.button {
  display: flex;
  justify-content: center;
}

.userForm {
  display: flex;
  justify-content: center;
}

.cardBox {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .switch {
  display: flex;
  justify-content: left;
  
}
.dropSelect {
  display: flex;
  justify-content: left;
}
.slider {
  display: flex;
  justify-content: center;
} */

/* .cardStack {
  display: flex;
} */